{{ define "main" }}
  {{ .Content }}

  {{ $sitePages := where site.RegularPages "Section" "ne" "posts" }}
  {{ $learningPosts := where site.RegularPages "Section" "posts" }}

  <h2>Site pages</h2>
  {{ range $sitePages }}
    <section>
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      {{ .Summary }}
    </section>
  {{ end }}

  <h2>Learning posts</h2>
  {{ range $learningPosts }}
    <section>
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      {{ .Summary }}
    </section>
  {{ end }}
{{ end }}
